/* App-specific styles if needed */
.presentation-slide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.presentation-slide::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Opera */
}